<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for Server Logs -->
    <appender name="bootstrap" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/Bootstrap.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="server" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/APIEngine.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="credential" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/Credential.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="discovery" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/Discovery.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="provision" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/Provision.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread]  [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="processbuilder" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/ProcessBuilder.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="discoveryengine" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/DiscoveryEngine.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="pollingengine" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/PollingEngine.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ConfigDB" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/ConfigDB.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="discoveryRun" class="ch.qos.logback.core.FileAppender">
        <file>/home/raj/Work/NMSWINRMLITE/NMSBackend/Logs/DiscoveryRun.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Logger for Server -->
    <logger name="org.nmslite.engine.APIEngine" level="trace" additivity="false">
        <appender-ref ref="server"/>
    </logger>

    <!-- Logger for Credential  -->
    <logger name="org.nmslite.profile.Credential" level="trace" additivity="false">
        <appender-ref ref="credential"/>
    </logger>

    <!-- Logger for Provision  -->
    <logger name="org.nmslite.profile.Provision" level="trace" additivity="false">
        <appender-ref ref="provision"/>
    </logger>

    <!-- Logger for Discovery  -->
    <logger name="org.nmslite.profile.Discovery" level="trace" additivity="false">
        <appender-ref ref="discovery"/>
    </logger>

    <logger name="org.nmslite.engine.Discoveryengine" level="trace" additivity="false">
        <appender-ref ref="discoveryengine"/>
    </logger>

    <logger name="org.nmslite.profile.DiscoveryRun" level="trace" additivity="false">
        <appender-ref ref="discoveryRun"/>
    </logger>

    <logger name="org.nmslite.engine.PollingEngine" level="trace" additivity="false">
        <appender-ref ref="pollingengine"/>
    </logger>

    <logger name="org.nmslite.utils.Helper" level="trace" additivity="false">
        <appender-ref ref="processbuilder"/>
    </logger>

    <logger name = "org.nmslite.db.ConfigDB" level="trace" additivity="false">
        <appender-ref ref="ConfigDB"/>
    </logger>

    <logger name="org.nmslite.Bootstrap" level="trace" additivity="false">
        <appender-ref ref="bootstrap"/>
    </logger>


</configuration>